@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i|Rubik:300');
* {
	box-sizing: border-box;
}

:root {
	--peach: #fbbc8f;
	--dark: #4C6250;
	--light: #A4BC82;
}

html, body{
	scroll-behavior: smooth;
	max-width: 100%;
    max-height: 100%;
	margin: 0;
	text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-size: 100%;
	color: var(--dark);
}

main{
	display: grid;
	grid-template-rows: auto;
}

a{
	display: contents;
	text-decoration: none;
	color: black;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

h1{
	font-family:'Playfair Display', serif;
	padding: 0;
	margin: 0 0 4rem 0;
    /*font-weight: 600;*/
	text-align: center;
	text-transform: uppercase;
	color: white;
	font-size: 2.5em;
}

h5{
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
	font-style: normal;
}

/* Hide elements on mobile version */
#account-pop-up, #login-pop-up, #fa-line, #filter-section{
	display: none;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------- NAVIGATION -------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

header{
	width: 100%;
	height: 4em;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
		'nav-bar logo login';
	grid-gap: 2em;
	align-items: center;
	/*overflow: hidden;*/
	position: fixed;
	opacity: 0.7;
	z-index: 98;
	padding: 0;
}

#nav-bar{
	display: grid;
}

/*Burger menu - Menu On*/
#menuon{
	background: black;
	color: white;
	padding: 1em 1.5em 0 0;
	position: fixed;
	z-index: 102;
	opacity: 0;
}

/*Burger menu - Menu Off*/
#menuoff{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.60);
	z-index: 99;
	display: none;
}

#nav-bar span{
	display: block;
	width: 2em;
	height: 3px;
	background: black;
	margin-bottom: 4px;
	z-index: 101;
}

/* Close button (X) for burger menu*/
#x{
    color: var(--peach);
    padding: 0.2em;
    position: fixed;
    z-index: 102;
    display: none;
}

/*Navigation bar*/
nav {
    background-color: rgba(0,0,0,0.60);
    opacity: 1;
	position: fixed;
	padding: 2em;
	z-index: 100;
	display: none;
	
}

/*Links in Navbar*/
nav a{
	color: white;
	display: block;
	padding-bottom: 2em;
    min-width: 10em;
	text-decoration: none;
	text-align: center;
	font-size: 1.6em;
	
}




/*to toggle the burger menu*/
#togglemenu:checked ~ nav{
	display: block;
}

/*to get rid of the checkbox*/
#togglemenu{
	display: none;
}

/*gray space to turn off burger menu*/
#togglemenu:checked ~ #menuoff{
	display: block;
}

/* X to turn off burger menu*/
#togglemenu:checked ~ #x{
	display: block;
}

#logo{
	display: grid;
    justify-items: center;
}

#logo img{
	max-width: 50%;
	align-self: center;
}

#login-btn{
    display: flex;
    background-color: transparent;
    border: none;
	justify-content: flex-end;
}

#login-btn:focus{
	outline:none;
}

#login-btn i{
    font-size: 2.5em;	
}
nav a:hover{
	color: var(--peach);
}


.dropdown-content{
	position: absolute;
	display: none;
	z-index: 2000;
	padding: 0;
	margin: 1rem 0;
	background: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li{
	display: none;
	
}
/* Sign-up/login pop-up*/
#account-form-section {
	display: none;
    position: absolute;
	width: 90%;
    height: 50%;
	margin: 1em;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    bottom: 0;
    border-style: dashed;
    z-index: 10009;
}


#account-form-container {
	  height: 100%;
	  width: 100%;
	  padding: 4em;
	  display: flex;
      justify-content: space-between;
      flex-flow: column;
	  background-color: black;
	  font-family: 'Rubik', sans-serif;
}

.account-form-btn {
  	background-color: var(--peach);
  	width: 100%;
  	border: none;
	padding: 0.2em;
  	opacity: 1;
    border-style: double;
    border-radius: 1rem;
  	font-size: 2em;
}

label{
	font-size: large;
	color: var(--dark-grey);
}

.exit-col{
	width: 100%;
}

.exit-col i{
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	padding: 0.2em;
	opacity: 0.9;
}

/* Sign-up or sign-in button */
#account-btn{
	padding: 0;
    display: flex;
    background-color: transparent;
    border: none;
	justify-content: flex-end;
}

#account-btn i{
    font-size: 2.5em;	
}

#account-btn:focus{
	outline:none;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------- MAIN SECTION ---------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */
.image{
	background-position: 55% 20%;
	background-size: cover;
	background-repeat: no-repeat;
}

#background-img{
	background-image: url("../resources/web/collaborator.jpg");
	margin-bottom: 1em;
	height: 14em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page-title{
	position: relative;
	top: 30%;	
	z-index: 1;
	font-weight: 200;
	font-size: 3rem;
}

#page-content{
    padding: 1em;
	padding-bottom: 3em;
    display: flex;
    flex-flow: column;
    align-items: center;
	color: #4c6250;
	font-family: 'Rubik', sans-serif;
	margin: 0 5rem;
	font-size: 0.7rem;
}

#become-supplier-btn{
	background-color: var(--peach);
	width: 60%;
	height: auto;
	border: none;
	margin: 3em 0 1em 0;
	padding: 0.5em;
	border-radius: 0.5rem;
	font-size: 1.2em;
	opacity: 0.8;
	color: var(--dark);
}

#back-to-top{
	display: none;
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 99;
	font-size: 1.2em;
	border: none;
	outline: none;
	background-color: var(--peach);
	padding: 0.8em;
	border-radius: 4px;
	color: white;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------------- FOOTER -----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

footer{
    display: flex;
    justify-content: center;
	align-items: center;
	padding: 0 0.5em 0 0.5em;
	opacity: 0.9;
	font-style: normal;
}

footer a {
    color: var(--dark);
}

footer li{
    display: flex;
    align-items: center;
	padding: 0 0.5em 0 0;
	
}

.fa-facebook-f, .fa-twitter, .fa-instagram{
    display: block;
    padding: 0 0.5em 0 0.5em;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
------------------------------- MEDIA QUERIES -----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

/* Desktop */

@media screen and (min-width: 700px){
	
	header{
		padding: 0;
		height: 4em;
	}
	
	h2{
		font-size: 2.5em;
    	opacity: 0.9;
	}

	h4{
    	font-weight: 300;
    	font-size: 1.5em;
		margin-bottom: 5em;
	}
	
	h5{
	    font-size: 1.2em;
    	font-style:italic;
	}
	
	
	/* Reposition nav-bar items */
	#logo{
		grid-area: nav-bar;
		justify-items: flex-start;
		margin-left: 2em;
	}
	
	#logo img{
	    max-width: 30%;
	}
	
	#nav-bar{
		grid-area: logo;
		padding: 0;
		margin: 0;
	}
	
	/* Burger menu dissapears */
	#menuoff, #menuon, #x, #nav-bar span, #filter-btn-mobile, #arrow-down{
		display: none;
	}
	
	/* Nav-bar appears as desktop navbar */
	nav{
		display: inline-flex;
		position: static;
		background-color: white;
		padding: 0;
		margin: 0;
	}
	
	nav button{
	padding: 1.5em 0;
		margin: 0;
}
	
	/* Nav-bar links get in a line */
	nav a{
		display: inline-block;
		color: #4C6250;
		font-size: 1.2em;
		padding: 0;
		font-family: 'Rubik', sans-serif;
		margin: 0;
	}
	
	nav ul{
		margin: 0;
	}
	
	
	
	/* Change color on hover for the nav-bar and login icon */
	nav a:hover{
		color: var(--peach);
	}
	
	nav a:active{
		color: var(--peach);
	}
	
	#login-btn{
	    justify-content: flex-start;
		color: #4C6250;
		margin-left: 8em;
	}
	
	#login-btn:focus{
	    outline: none;
	}
	
	.dropdown{
	position: relative;
	margin: 0;
}
	
	.dropdown-content{
		margin: 0;
		padding: 1.5rem 0 0;
	}

	.dropdown-content li{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		list-style: none;
		padding: 0.25rem 0;
		display: block;
		
}

	.dropdown:hover > .dropdown-content{
		display: block;
}

	.dropdown-content li a:hover{
		color: var(--peach);
}

	#account-btn{
		justify-content: flex-start;
	}
	
	#account-btn:hover{
		color: var(--peach);
	}
	
	#account-form-section{
		width: 25%;
		height: 30%;
	 	margin: 1em;
    	right: 17%;
	}
	.account-form-btn:hover{
		transform: scale(1.1);
		color: white;
	}
	
	.page-title{
		font-size: 5rem;
		top: 20%;
		
	}
	
	#background-img{
		min-height: 25rem;
		background-position: 20% 35%;
	}
	
	#page-content{
		padding: 20em;
		padding-top: 5em;
		padding-bottom: 10em;
	}
	
	#become-supplier-btn{
		width: 30%;
    	font-size: 2em;
	}
	
	#become-supplier-btn:hover{
		transform: scale(1.1);
	}
	
	#back-to-top:hover{
		transform: scale(1.1);
	}
	
	footer h5{
	    font-size: 1.2em;    
	}
	
	footer ul{
	    padding: 0.3em;
	}
	
	
}