* {
	box-sizing: border-box;
}

:root {
	--peach: #fbbc8f;
	--dark-green: #4c6250;
	--light-green: #a4bc82;
}

html{
	scroll-behavior: smooth;
}



body{
    max-width: 100%;
    max-height: 100%;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    font-size: 100%;
	margin: 0;
}


/*main{
	display: grid;
	grid-template-rows: auto;
}*/

/* Hide elements on mobile version */
#account-pop-up, #login-pop-up, #fa-line, #filter-section{
	display: none;
}

a{
	display: contents;
	color: black;
}

h1{
	font-family: 'Rubik', sans-serif;
	font-weight: 200;
	text-align: center;
}


/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------- NAVIGATION -------------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

header{
	width: 100%;
	height: 4em;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
		'nav-bar logo login';
	grid-gap: 2em;
	align-items: center;
	/*overflow: hidden;*/
	position: fixed;
	opacity: 0.7;
	z-index: 98;
	padding: 0;
}

#nav-bar{
	display: grid;
}

/*Burger menu - Menu On*/
#menuon{
	background: black;
	color: white;
	padding: 1em 1.5em 0 0;
	position: fixed;
	z-index: 102;
	opacity: 0;
}

/*Burger menu - Menu Off*/
#menuoff{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.60);
	z-index: 99;
	display: none;
}

#nav-bar span{
	display: block;
	width: 2em;
	height: 3px;
	background: black;
	margin-bottom: 4px;
	z-index: 101;
}

/* Close button (X) for burger menu*/
#x{
    color: var(--peach);
    padding: 0.2em;
    position: fixed;
    z-index: 102;
    display: none;
}

/*Navigation bar*/
nav {
    background-color: rgba(0,0,0,0.60);
    opacity: 1;
	position: fixed;
	padding: 2em;
	z-index: 100;
	display: none;
	
}

/*Links in Navbar*/
nav a{
	color: white;
	display: block;
	padding-bottom: 2em;
    min-width: 10em;
	text-decoration: none;
	text-align: center;
	font-size: 1.6em;
	
}




/*to toggle the burger menu*/
#togglemenu:checked ~ nav{
	display: block;
}

/*to get rid of the checkbox*/
#togglemenu{
	display: none;
}

/*gray space to turn off burger menu*/
#togglemenu:checked ~ #menuoff{
	display: block;
}

/* X to turn off burger menu*/
#togglemenu:checked ~ #x{
	display: block;
}

#logo{
	display: grid;
    justify-items: center;
}

#logo img{
	max-width: 50%;
	align-self: center;
}

#login-btn{
    display: flex;
    background-color: transparent;
    border: none;
	justify-content: flex-end;
}

#login-btn:focus{
	outline:none;
}

#login-btn i{
    font-size: 2.5em;	
}
nav a:hover{
	color: var(--peach);
}


.dropdown-content{
	position: absolute;
	display: none;
	z-index: 2000;
	padding: 0;
	margin: 1rem 0;
	background: #FFFFFF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content li{
	display: none;
	
}

/* ------------- Form ---------------- */

/* The popup form - hidden by default */
.form-popup {
	display: none;
    position: absolute;
	width: 90%;
    height: 50%;
	margin: 1em;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.8;
    bottom: 0;
    border-style: dashed;
    z-index: 10009;
}

/* Add styles to the form container */
.form-container {
	  height: 100%;
	  width: 100%;
	  padding: 4em;
	  display: flex;
      justify-content: space-between;
      flex-flow: column;
	  background-color: black;
}

/* Full-width input fields */
.form-container input[type=text],input[type=email], textarea{
  	border: none;
  	background: #f1f1f1;
  	width: 20em;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, input[type=email]:focus, textarea:focus{
  	background-color: #ddd;
  	outline: none;
}

/* Style send button */
.login-btn {
  	background-color: var(--peach);
  	width: 100%;
  	color: black;
  	border: none;
  	cursor: pointer;
	padding: 0.2em;
  	opacity: 1;
    border-style: double;
    border-radius: 1rem;
  	font-size: 2em;
  	font-family: futura-pt, sans-serif;
  	font-weight: 300;
  	font-style: normal;
  	transition:         0.08s ease-in;
	-o-transition:      0.08s ease-in;
	-ms-transition:     0.08s ease-in;
	-moz-transition:    0.08s ease-in;
	-webkit-transition: 0.08s ease-in;
}

label{
	font-size: xx-large;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-style: normal;
	color: var(--dark-grey);
}

.exit-col{
	width: 100%;
}

.exit-col i{
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 0.2em;
	opacity: 0.9;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#under-construction{
	display: flex;
    justify-content: center;
}
/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------- SEARCH SECTION ---------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

.search-for-supplier{
	display: flex;
	flex-flow: column;
	height: 17em;
	align-items: center;
	justify-content: center;
}

.page-title{
	color: black;
	font-weight: 300;
	border-radius: 5px;
}

#search-for-photographer .page-title, #search-for-florist .page-title, #search-for-venue .page-title{
	color: white;
}

.search-for-supplier article{
	background-color: white;
	display: flex;
	opacity: 0.7;
	height:3em;
}

.search-for-supplier input[type=text]{	
    font-size: 1em;
    color: black;
  	margin: 0; 
	border: none;
	text-align: center;
	width: fit-content;
	font-style: italic;
}

.button{
  	border: none;
  	cursor: pointer;
	background:var(--peach);
	opacity: 0.7;
	display: inline-block;
}

#filter-btn-web{
	display: none;
}

#filter-btn-mobile{
	display: block;
}

.type-row{
	width: fit-content;
}

	/* -------------------------------------------------------------- */
	/* --------------------- Search for venue ----------------------- */
	/* -------------------------------------------------------------- */

#search-for-venue{
	background-image: url("../resources/mobile/venues/venue-xs.jpg");
}

	/* -------------------------------------------------------------- */
	/* ------------------- Search for florist ----------------------- */
	/* -------------------------------------------------------------- */

#search-for-florist{
	background-image: url("../resources/mobile/florists/florist-xs.jpg");
}

	/* -------------------------------------------------------------- */
	/* ----------------- Search for photographer -------------------- */
	/* -------------------------------------------------------------- */

#search-for-photographer{
	background-image: url("../resources/mobile/photographers/photographer-xs.jpg");
}

	/* -------------------------------------------------------------- */
	/* -------------------- Search for bakeri ----------------------- */
	/* -------------------------------------------------------------- */

#search-for-bakeri{
	background-image: url("../resources/mobile/bakeries/bakeri-xs.jpg");
}

	/* -------------------------------------------------------------- */
	/* --------------------- Search for dress ----------------------- */
	/* -------------------------------------------------------------- */

#search-for-dress{
	background-image: url("../resources/mobile/dresses/dress-xs.jpg");
}


/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
--------------------------------- LIST SECTION ----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

/* Styling the list of venues */
#list-section{
	padding: 0.5em;
}

#arrow-down{
	display: flex;
	justify-content: center;
	color: dimgrey;
	margin-top: 1em;
}

#list-of-suppliers{
	height: 100%;
   	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 2em;
}

#list-of-suppliers li{
	display: flex;
	flex-flow: column;
	align-items: center;
	border: 2px solid var(--peach);
	margin-bottom: 3em;
}

#list-of-suppliers li h1{
	width: 30%;
	font-size: 1em;
	margin-left: 3%;
}


.item{
	height: 6em;
    width: 100%;
	margin: 0;
	background-position: center; 
  	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	justify-content: center;
    align-items: center;
}

.image-label{
    display: flex;
	flex-flow: row-reverse;
    align-items: center;
	width: 100%;
	font-size: 0.8em;
	padding: 0.5em;
    justify-content: space-around;
}

.icons{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.icons i{
	padding: 0.8em;
	color: #fbbc8f;
}

	/* -------------------------------------------------------------- */
	/* ----------------- Images for list of venues ------------------ */
	/* -------------------------------------------------------------- */

#venue1{
	background-image: url("../resources/mobile/venues/venue1-xs.jpg"); 
}

#venue2{
	background-image: url("../resources/mobile/venues/venue2-xs.jpg"); 
}

#venue3{
	background-image: url("../resources/mobile/venues/venue3-xs.jpg"); 
}

#venue4{
	background-image: url("../resources/mobile/venues/venue4-xs.jpg"); 
}

#venue5{
	background-image: url("../resources/mobile/venues/venue5-xs.jpg"); 
}

#venue6{
	background-image: url("../resources/mobile/venues/venue6-xs.jpg"); 
}

#venue7{
	background-image: url("../resources/mobile/venues/venue7-xs.jpg"); 
}

#venue8{
	background-image: url("../resources/mobile/venues/venue8-xs.jpg"); 
}

	/* -------------------------------------------------------------- */
	/* --------------- Images for list of florists ------------------ */
	/* -------------------------------------------------------------- */

#florist1{
	background-image: url("../resources/mobile/florists/florist1-xs.jpg"); 
}

#florist2{
	background-image: url("../resources/mobile/florists/florist2-xs.jpg"); 
}

#florist3{
	background-image: url("../resources/mobile/florists/florist3-xs.jpg"); 
}

#florist4{
	background-image: url("../resources/mobile/florists/florist4-xs.jpg"); 
}

#florist5{
	background-image: url("../resources/mobile/florists/florist5-xs.jpg"); 
}

#florist6{
	background-image: url("../resources/mobile/florists/florist6-xs.jpg"); 
}

#florist7{
	background-image: url("../resources/mobile/florists/florist7-xs.jpg"); 
}

#florist8{
	background-image: url("../resources/mobile/florists/florist8-xs.jpg"); 
}

	/* -------------------------------------------------------------- */
	/* -------------- Images for list of photographers -------------- */
	/* -------------------------------------------------------------- */

#photographer1{
	background-image: url("../resources/mobile/photographers/photographer1-xs.jpg"); 
}

#photographer2{
	background-image: url("../resources/mobile/photographers/photographer2-xs.jpg"); 
}

#photographer3{
	background-image: url("../resources/mobile/photographers/photographer3-xs.jpg"); 
}

#photographer4{
	background-image: url("../resources/mobile/photographers/photographer4-xs.jpg"); 
}

#photographer5{
	background-image: url("../resources/mobile/photographers/photographer5-xs.jpg"); 
}

#photographer6{
	background-image: url("../resources/mobile/photographers/photographer6-xs.jpg"); 
}

#photographer7{
	background-image: url("../resources/mobile/photographers/photographer7-xs.jpg"); 
}

#photographer8{
	background-image: url("../resources/mobile/photographers/photographer8-xs.jpg"); 
}

	/* -------------------------------------------------------------- */
	/* --------------- Images for list of bakeries ------------------ */
	/* -------------------------------------------------------------- */

#bakeri1{
	background-image: url("../resources/mobile/bakeries/bakeri1-xs.jpg"); 
}

#bakeri2{
	background-image: url("../resources/mobile/bakeries/bakeri2-xs.jpg"); 
}

#bakeri3{
	background-image: url("../resources/mobile/bakeries/bakeri3-xs.jpg"); 
}

#bakeri4{
	background-image: url("../resources/mobile/bakeries/bakeri4-xs.jpg"); 
}

#bakeri5{
	background-image: url("../resources/mobile/bakeries/bakeri5-xs.jpg"); 
}

#bakeri6{
	background-image: url("../resources/mobile/bakeries/bakeri6-xs.jpg"); 
}

#bakeri7{
	background-image: url("../resources/mobile/bakeries/bakeri7-xs.jpg"); 
}

#bakeri8{
	background-image: url("../resources/mobile/bakeries/bakeri8-xs.jpg"); 
}

	/* -------------------------------------------------------------- */
	/* ---------------- Images for list of dresses ------------------ */
	/* -------------------------------------------------------------- */

#dress1{
	background-image: url("../resources/mobile/dresses/dress1-xs.jpg"); 
}

#dress2{
	background-image: url("../resources/mobile/dresses/dress2-xs.jpg"); 
}

#dress3{
	background-image: url("../resources/mobile/dresses/dress3-xs.jpg"); 
}

#dress4{
	background-image: url("../resources/mobile/dresses/dress4-xs.jpg"); 
}

#dress5{
	background-image: url("../resources/mobile/dresses/dress5-xs.jpg"); 
}

#dress6{
	background-image: url("../resources/mobile/dresses/dress6-xs.jpg"); 
}

#dress7{
	background-image: url("../resources/mobile/dresses/dress7-xs.jpg"); 
}

#dress8{
	background-image: url("../resources/mobile/dresses/dress8-xs.jpg"); 
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 99;
  font-size: 1.2em;
  border: none;
  outline: none;
  background-color: var(--peach);
  color: white;
  padding: 0.8em;
  border-radius: 4px;
}


/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
-------------------------------------- FOOTER -----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

footer{
	width: 100%;
    height: 100%;
	display:flex;
	justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
	padding: 0.5em;
	text-align: center;
	opacity: 0.9;
}

footer a {
    text-decoration: none;
    color: #3a3a3c;
}

footer ul {
    display: flex;
    padding: 0;
	margin: 0;
    list-style: none;    

}

footer h1{
	text-align: center;
    font-size: 0.9em;
	padding: 0.3em;
	margin: 0;
	vertical-align: middle;
}

.fa:hover {
    opacity: 0.7;
}
.fa-facebook-f {
    display: block;
    padding: 8px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-twitter {
    display: block;
    padding: 8px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}
.fa-instagram {
	display: block;
    padding: 8px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    text-decoration: none;
}


/*------PROFILE-----*/

#profile-text{
	position: absolute;
	top: 7%;
	left: 15%;
	font-size: 3.7rem;
	color: white;
	font-family: 'Playfair Display', serif;
	font-weight: 200;
}

#profile-pic{
	background: url("../../weddingplanner.dk/resources/homepage-image.jpg");
	background-size: cover;
    background-position:right;
	min-height: 15rem;
}

#filter-section-profile{
	display: flex;
	justify-content: center;
}

#profile-section{
	padding: 0.5em;
	
}

.profile-names{
		font-size: 1.5rem;
		margin: 0 0 1rem;
		text-align: center;
	font-family: 'Rubik', sans-serif;
	}
	
	.profile-names-input{
		margin: 0 16rem 1rem;
		
	}
	
	.profile-list{
		list-style: none;
		display: grid;
		grid-template-areas: 'profile-checkbox-container profile-seemore-links'
							 'profile-image-label profile-image-label'
							 'profile-box-buttons profile-box-buttons';
		padding-bottom: 2rem;
	}
	
	.profile-checkbox-container {
  		display: block;
  		position: relative;
  		padding-left: 35px;
  		margin-bottom: 12px;
  		cursor: pointer;
  		font-size: 22px;
  		-webkit-user-select: none;
  		-moz-user-select: none;
  		-ms-user-select: none;
  		user-select: none;
		grid-area: profile-checkbox-container;
		}
	
	.profile-checkbox-container input {
 		position: absolute;
  		opacity: 0;
  		cursor: pointer;
  		height: 0;
  		width: 0;
		}
	
	.checkmark {
  		position: absolute;
  		top: 0;
  		left: 0;
  		height: 25px;
  		width: 25px;
  		background-color: #eee;
	}
	
	.profile-checkbox-container:hover input ~ .checkmark {
  		background-color: #ccc;
	}
	
	.profile-checkbox-container input:checked ~ .checkmark {
  		background-color: var(--peach);
	}
	
	.checkmark:after {
  		content: "";
  		position: absolute;
  		display: none;
	}
	
	.profile-checkbox-container input:checked ~ .checkmark:after {
  		display: block;
	}
	
	.profile-checkbox-container .checkmark:after {
  		left: 9px;
  		top: 5px;
  		width: 5px;
  		height: 10px;
  		border: solid white;
  		border-width: 0 3px 3px 0;
  		-webkit-transform: rotate(45deg);
  		-ms-transform: rotate(45deg);
  		transform: rotate(45deg);
	}


	


.profile-image-label{
	display: flex;
	flex-flow: row-reverse;
    align-items: center;
	/*width: 100%;*/
	font-size: 0.8em;
	padding: 0.5em;
    justify-content: space-around;
	grid-area: profile-image-label;
	margin-right: 4rem;
	border: 2px solid var(--peach);
}

.profile-seemore-links{
	grid-area: profile-seemore-links;
	color: var(--peach);
	font-size: 1.3rem;
	display: flex;
	justify-content: flex-end;
	margin-right: 4rem;
	font-family: 'Rubik', sans-serif;
}

#profile-image-label-venuepic{
	background: url("../resources/web/venues/venue2-xl.jpg");
	background-size: cover;
    background-position: center;
	min-width: 12rem;
	min-height: 8rem;
	margin: 0;
	padding: 0;
}

#profile-image-label-dresspic{
	background:url("../resources/web/dresses/dress2-xl.jpg");
	background-size: cover;
    background-position: center;
	min-width: 12rem;
	min-height: 8rem;
	margin: 0;
	padding: 0;
}

#profile-image-label-floristpic{
	background:url("../resources/web/florists/florist3-xl.jpg");
	background-size: cover;
    background-position: center;
	min-width: 12rem;
	min-height: 8rem;
	margin: 0;
	padding: 0;
}

#profile-image-label-photographerpic{
	background:url("../resources/web/photographers/photographer6-xl.jpg");
	background-size: cover;
    background-position: center;
	min-width: 12rem;
	min-height: 8rem;
	margin: 0;
	padding: 0;
}

#profile-image-label-cakepic{
	background:url("../resources/web/bakeries/bakeri2-xl.jpg");
	background-size: cover;
    background-position: center;
	min-width: 12rem;
	min-height: 8rem;
	margin: 0;
	padding: 0;
}

.profile-button{
	background-color:var(--peach);
  	border: none;
  	color: white;
  	padding: 1rem 2rem;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 1rem;
	margin-top: 1rem;
	font-family: 'Rubik', sans-serif;
}

.profile-box-buttons{
	grid-area: profile-box-buttons;
	display: flex;
	justify-content:space-around;
	margin-right: 5rem;
}

.profile-table{
	margin: 0 3rem 0 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

.profile-checkbox-text{
	margin: 0;
	padding: 0;
	font-family: 'Rubik', sans-serif;
}

.filterDiv{
  display: none;
}

.show {
  display: block;
}

.profile-sidebuttons{
		background-color: transparent;
 		border: none;
  		color: black;
  		padding:  0rem 1rem;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 0.7rem;
		grid-area: sidebuttons;
		cursor: pointer;
	font-family: 'Rubik', sans-serif;
	font-weight: 600;
	}

.icon-container{
		margin: 0rem 1rem;
	}

#info-icon{
		padding: 0.5rem 1rem;
		background: var(--peach);
	
	}
	
	#checklist-icon{
		padding: 0.5rem;
		background: var(--peach);
		
	}
	
	#fav-icon{
		padding: 0.5rem;
		background: var(--peach);
			
	}
	
	#guests-icon{
		padding: 0.5rem 0.4rem;
		background: var(--peach);
		
	}
	
	#inspiration-icon{
		padding: 0.5rem 0.7rem;
		background: var(--peach);
		
	}
	
	#messages-icon{
		padding: 0.5rem 0.4rem;
		background: var(--peach);
		
	}

	.boxes-section{
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 3rem;
}

.florist-box{
	position: relative;
	min-height: 15rem;
	background: url("../resources/web/venues/venue7-xl.jpg");
	background-size: cover;
    background-position:center;
	display: block;
	
		
	-moz-transition: opacity 0.5s; /* Firefox */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    transition: opacity 0.5s;
}


.dresses-box{
	position: relative;
	min-height: 15rem;
	background: url("../resources/web/dresses/dress2-xl.jpg");
	background-size: cover;
    background-position:center;
	display: block;
	
		
	-moz-transition: opacity 0.5s; /* Firefox */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    transition: opacity 0.5s;
}


.rings-box{
	position: relative;
	min-height: 15rem;
	background: url("../resources/web/venues/venue6-xl.jpg");
	background-size: cover;
    background-position:center;
	display: block;
	
		
	-moz-transition: opacity 0.5s; /* Firefox */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    transition: opacity 0.5s;
}


.cakes-box{
	position: relative;
	min-height: 15rem;
	background: url("../resources/marcie-douglass-204244-unsplash.jpg");
	background-size: cover;
    background-position:top;
	display: block;
	
		
	-moz-transition: opacity 0.5s; /* Firefox */
    -webkit-transition: opacity 0.5s; /* Safari and Chrome */
    -o-transition: opacity 0.5s; /* Opera */
    transition: opacity 0.5s;
}


.box-icons-one{
	position: absolute;
	top: 60%;
	left: 21%;
	padding: 0.7rem 1rem;
	background: var(--peach);
	border: none;
	cursor: pointer;
}

.box-icons-one:hover{
	opacity: 0.8;
}

.box-icons-two{
	position: absolute;
	top: 60%;
	right: 21%;
	padding: 0.7rem 1rem;
	background: var(--peach);
	border: none;
	cursor: pointer;
}

.box-icons-two:hover{
	opacity: 0.8;
}

.box-names-one{
	color: var(--peach);
	font-size: 1.5rem;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}

.box-names-two{
	font-size: 1rem;
	text-align: center;
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
}

.guest-boxes-yes{
	background: var(--light-green);
	width: 90%;
	margin: 1rem 2rem;
	border: 2px solid var(--dark-green);
	opacity: 0.7;
	display: grid;
	grid-template-areas: 'guest-names going-cannot'
}

.guest-names{
	margin-left: 2rem;
	grid-area: guest-names;
	font-family: 'Playfair Display', serif;
}

.going-cannot{
	margin-right: 2rem;
	grid-area: going-cannot;
	display: flex;
	justify-content: flex-end;
	font-family: 'Rubik', sans-serif;
}

.guest-boxes-no{
	background:#FF6A6C;
	width: 90%;
	margin: 1rem 2rem;
	border: 2px solid #850002;
	opacity: 0.7;
	display: grid;
	grid-template-areas: 'guest-names going-cannot'
}

.guest-boxes-pending{
	background:#CECECE;
	width: 90%;
	margin: 1rem 2rem;
	border: 2px solid #878787;
	opacity: 0.7;
	display: grid;
	grid-template-areas: 'guest-names going-cannot'
}

#edit-all-guests{
	display: flex;
	justify-content: center;
	font-family: 'Rubik', sans-serif;
}

.pinterest{
	position: absolute;
	right: 0.5rem;
	bottom: 0.5rem;
}

#chat-window{
	border: 2px solid #dedede;
  padding: 10px;
  margin: 10px 0;
}

.bubble-right{
	border: 2px solid #E05900;
  background-color: var(--peach);
  border-radius: 20px;
  padding: 20px 10px;
  margin: 10px 0;
	font-family: 'Rubik', sans-serif;
}

.bubble-left{
	border: 2px solid #dedede;
  background-color: #F1F1F1;
  border-radius: 20px;
  padding: 20px 10px;
  margin: 10px 0;
	font-family: 'Rubik', sans-serif;
}

.time-right {
  float: right;
  color: #aaa;
	font-family: 'Rubik', sans-serif;
}

.time-left {
  float: left;
  color: #999;
	font-family: 'Rubik', sans-serif;
}

/* ------------------------------------------------------------------------
---------------------------------------------------------------------------
------------------------------- MEDIA QUERIES -----------------------------
---------------------------------------------------------------------------
--------------------------------------------------------------------------- */

/* Desktop */

@media screen and (min-width: 700px){
	
	/* Reposition nav-bar items */
	#logo{
		grid-area: nav-bar;
		justify-items: flex-start;
		margin-left: 2em;
	}
	
	#logo img{
	    max-width: 30%;
	}
	
	#nav-bar{
		grid-area: logo;
		padding: 0;
		margin: 0;
	}
	
	/* Burger menu dissapears */
	#menuoff, #menuon, #x, #nav-bar span, #filter-btn-mobile, #arrow-down{
		display: none;
	}
	
	/* Nav-bar appears as desktop navbar */
	nav{
		display: inline-flex;
		position: static;
		background-color: white;
		padding: 0;
		margin: 0;
	}
	
	nav button{
	padding: 1.5em 0;
		margin: 0;
}
	
	/* Nav-bar links get in a line */
	nav a{
		display: inline-block;
		color: #4C6250;
		font-size: 1.2em;
		padding: 0;
		font-family: 'Rubik', sans-serif;
		margin: 0;
	}
	
	nav ul{
		margin: 0;
	}
	
	
	
	/* Change color on hover for the nav-bar and login icon */
	nav a:hover{
		color: var(--peach);
	}
	
	nav a:active{
		color: var(--peach);
	}
	
	#login-btn{
	    justify-content: flex-start;
		color: #4C6250;
		margin-left: 8em;
	}
	
	#login-btn:focus{
	    outline: none;
	}
	
	.dropdown{
	position: relative;
	margin: 0;
}
	
	.dropdown-content{
		margin: 0;
		padding: 1.5rem 0 0;
	}

	.dropdown-content li{
		border-bottom: 1px solid rgba(0,0,0,0.2);
		list-style: none;
		padding: 0.25rem 0;
		display: block;
		
}

	.dropdown:hover > .dropdown-content{
		display: block;
}

	.dropdown-content li a:hover{
		color: var(--peach);
}
	
	.form-popup{
		margin: 0;
    	width: 25%;
    	height: 30%;
		position: absolute;
    	left: 59%;
		top: 2%;
	}
	
	.form-container{
	    padding: 0;
		align-items: center;
    	display: flex;
    	justify-content: space-evenly;
	}
	
	.btn-row{
	    width: 50%;
	}
	
	.login-btn{
		width: 100%;
	}
	
	.login-btn:before {
		content: "";
		position: absolute;
		background: var(--red);
		bottom: 0;
		left: 0;
		top: 0;
		right: 100%;
		z-index: -1;
		-webkit-transition: right 0.09s ease-in;
		transition: right 0.09s ease-in;
	}
	
	.login-btn:hover {
		color: white;
		transition: right 0.09s ease-in;
		transform: scale(1.1);
	}

	#login-btn i:hover{
	    color: var(--peach);

	}
	
		#login-btn{
	    justify-content: flex-start;
	}
	
	#login-btn:focus{
	    outline: none;
	}
	
	.exit-col i:hover{
		transform: scale(1.1);
	}
	
	
	.search-for-supplier{
		height: 40em;
	}

	.page-title{
		font-size: 3em;
	}
	
	.search-for-supplier article {
    	height: 4em;
	}
	
	.search-for-supplier input[type=text] {
		font-size: xx-large;
		width: fit-content;
		font-style: italic;
	}
	
	/* Removed placeholder on focus */
	input:focus::-webkit-input-placeholder {
    	color: transparent;
	}

	/* Background image for venue search section */
	#search-for-venue{
		background-image: url("../resources/web/venues/venue-xl.jpg");
	}
	
	/* Background image for florist search section */
	#search-for-florist{
		background-image: url("../resources/web/florists/florist-xl.jpg");
	}

	/* Background image for photographer search section */
	#search-for-photographer{
		background-image: url("../resources/web/photographers/photographer-xl.jpg");
	}

		/* Background image for bakeri search section */
	#search-for-bakeri{
		background-image: url("../resources/web/bakeries/bakeri-xl.jpg");
	}

		/* Background image for dress search section */
	#search-for-dress{
		background-image: url("../resources/web/dresses/dress-xl.jpg");
	}

	/* Filter and search buttons style*/
	.button{
    	padding: 1em;
		font-size: 1em;
		background: var(--peach);
	}

	#filter-section{
		display: flex;
		flex-flow: column;
    	justify-content: center;
		align-self: flex-start;
	}
	
	#filter-container{
		margin-left: 2em;
    	margin-bottom: 5em;
	}
	
	#filter-form{
		display: flex;
		align-items: flex-start;
		background: transparent;
		padding: 0;
		padding-left: 2em;	
	}
	
	#filter-form span{
		display:flex;
		justify-content: space-between;
		margin-bottom: 1em;
	}
	
	#filter-btn-web{
		display: inline-flex;
		padding: 0.2em;
	}
	
	#style-filter{
		justify-content: flex-start;
	}
	
	#style-filter ul{
		list-style: none;
		margin: 0;
		border: 0;
		padding-left: 7em;
	}
	
	#checkbox-filter-list{
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;
	}
	
	#checkbox-filter-list li{
		font-size: 1.2em;
	}
	
	#checkbox-filter-list li input{
		display: inline-flex;
		margin: 1em;
	} 
	
	.filter-list-label{
		float: left;
		font-size: x-large;
		width: 10em;
	}
	
	.checkbox-input{
		float: left;
	}
	
	.checkbox-li{
		font-size: large;
	}
	
	/* List with suppliers */
	#list-section{
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-areas: 
			'filter-btn list';
		align-items: flex-end;
		margin-top: 5em;
		margin-bottom: 5em;
	}
	
	#list-of-suppliers{
		grid-area: list;
		display: flex;
    	flex-flow: column;
    	align-items: center;
		border-left: 2px solid black;
	}
	
	#list-of-suppliers li{
	    width: 60%;
		margin-bottom: 3em;
		flex-flow: row;
	}
	
	#list-of-suppliers h1{
		font-size: 1.5em;
	}
	
	.item{
		display: block;
		height: 12em;
		width: 100%;
	}
	
	.icons{
		grid-column: 3/4;
		font-family: 'Dosis', sans-serif;
		letter-spacing: 1px;
		padding: 0;
	}
	
	.image-label{
		font-size: 1em;
		margin-left: 1em;
	}
	
	.icons i{
		color: black;
	}
	
	.icons i:hover{
		color: var(--peach);
	}

	
	/* -------------------------------------------------------------- */
	/* ----------------- Photos for the venue list ------------------ */
	/* -------------------------------------------------------------- */

	#venue1{
	background-image: url("../resources/web/venues/venue1-xl.jpg"); 
	}

	#venue2{
		background-image: url("../resources/web/venues/venue2-xl.jpg"); 
	}

	#venue3{
		background-image: url("../resources/web/venues/venue3-xl.jpg");
	}

	#venue4{
		background-image: url("../resources/web/venues/venue4-xl.jpg");
	}

	#venue5{
		background-image: url("../resources/web/venues/venue5-xl.jpg"); 
	}

	#venue6{
		background-image: url("../resources/web/venues/venue6-xl.jpg"); 
	}

	#venue7{
		background-image: url("../resources/web/venues/venue7-xl.jpg"); 
	}

	#venue8{
		background-image: url("../resources/web/venues/venue8-xl.jpg"); 
	}

	/* -------------------------------------------------------------- */
	/* ----------------- Photos for the florist list ---------------- */
	/* -------------------------------------------------------------- */

	#florist1{
		background-image: url("../resources/web/florists/florist1-xl.jpg"); 
	}

	#florist2{
		background-image: url("../resources/web/florists/florist2-xl.jpg"); 
	}

	#florist3{
		background-image: url("../resources/web/florists/florist3-xl.jpg"); 
	}

	#florist4{
		background-image: url("../resources/web/florists/florist4-xl.jpg"); 
	}

	#florist5{
		background-image: url("../resources/web/florists/florist5-xl.jpg"); 
	}

	#florist6{
		background-image: url("../resources/web/florists/florist6-xl.jpg"); 
	}

	#florist7{
		background-image: url("../resources/web/florists/florist7-xl.jpg"); 
	}

	#florist8{
		background-image: url("../resources/web/florists/florist8-xl.jpg"); 
	}

	/* -------------------------------------------------------------- */
	/* -------------- Photos for the photographer list -------------- */
	/* -------------------------------------------------------------- */

	#photographer1{
		background-image: url("../resources/web/photographers/photographer1-xl.jpg");
	}

	#photographer2{
		background-image: url("../resources/web/photographers/photographer2-xl.jpg"); 
	}

	#photographer3{
		background-image: url("../resources/web/photographers/photographer3-xl.jpg");
	}

	#photographer4{
		background-image: url("../resources/web/photographers/photographer4-xl.jpg");
	}

	#photographer5{
		background-image: url("../resources/web/photographers/photographer5-xl.jpg");
	}

	#photographer6{
		background-image: url("../resources/web/photographers/photographer6-xl.jpg"); 
	}

	#photographer7{
		background-image: url("../resources/web/photographers/photographer7-xl.jpg"); 
	}

	#photographer8{
		background-image: url("../resources/web/photographers/photographer8-xl.jpg"); 
	}
	
	/* -------------------------------------------------------------- */
	/* ----------------- Photos for the bakeri list ----------------- */
	/* -------------------------------------------------------------- */

	#bakeri1{
		background-image: url("../resources/web/bakeries/bakeri1-xl.jpg");
	}

	#bakeri2{
		background-image: url("../resources/web/bakeries/bakeri2-xl.jpg");
	}

	#bakeri3{
		background-image: url("../resources/web/bakeries/bakeri3-xl.jpg"); 
	}

	#bakeri4{
		background-image: url("../resources/web/bakeries/bakeri4-xl.jpg");
	}

	#bakeri5{
		background-image: url("../resources/web/bakeries/bakeri5-xl.jpg");
	}

	#bakeri6{
		background-image: url("../resources/web/bakeries/bakeri6-xl.jpg");
	}

	#bakeri7{
		background-image: url("../resources/web/bakeries/bakeri7-xl.jpg");
	}

	#bakeri8{
		background-image: url("../resources/web/bakeries/bakeri8-xl.jpg");
	}
	
	/* -------------------------------------------------------------- */
	/* ------------------ Photos for the dress list ----------------- */
	/* -------------------------------------------------------------- */

	#dress1{
		background-image: url("../resources/web/dresses/dress1-xl.jpg");
	}

	#dress2{
		background-image: url("../resources/web/dresses/dress2-xl.jpg");
	}

	#dress3{
		background-image: url("../resources/web/dresses/dress3-xl.jpg");
	}

	#dress4{
		background-image: url("../resources/web/dresses/dress4-xl.jpg");
	}

	#dress5{
		background-image: url("../resources/web/dresses/dress5-xl.jpg");
	}

	#dress6{
		background-image: url("../resources/web/dresses/dress6-xl.jpg");
	}

	#dress7{
		background-image: url("../resources/web/dresses/dress7-xl.jpg");
	}

	#dress8{
		background-image: url("../resources/web/dresses/dress9-xl.jpg");
	}

	
	/* Footer styling */
	footer h1 {
    	font-size: 1.5em;
	}
	
	footer ul{
	    padding: 0.3em;
	}
	
	footer ul a i{
		font-size: 1.5em;
	}
	
	#profile-text{
	position: absolute;
	top: 15%;
	left:25%;
	font-size: 5rem;
	color: white;
	}
	
	#profile-pic{
		min-height: 25rem;
	}
	
	.icon-container{
		margin-left: 2em;
    	margin-bottom: 5em;
	}
	#info-icon{
		padding: 0.5rem 1.4rem;
		background: var(--peach);
	}
	
	#checklist-icon{
		padding: 0.5rem;
		background: var(--peach);
	}
	
	#fav-icon{
		padding: 0.5rem;
		background: var(--peach)
	}
	
	#guests-icon{
		padding: 0.5rem 0.2rem;
		background: var(--peach);
	}
	
	#inspiration-icon{
		padding: 0.5rem 1rem;
		background: var(--peach);
	}
	
	#messages-icon{
		padding: 0.5rem 0.4rem;
		background: var(--peach);
	}
	
	.profile-sidebuttons{
		background-color: transparent;
 		border: none;
  		color: black;
  		padding:  0rem 1rem;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 1rem;
		grid-area: sidebuttons;
		cursor: pointer;
		margin: 0;
	}
	
	#filter-section-profile{
		margin-left: 7rem;
		display: block;
		margin-top: 3rem;
	}
	
	#information{
		border-left: 2px solid black;
		grid-area: information;
		padding: 3rem 5rem;
		
	}
	
	#checklist{
		border-left: 2px solid black;
		
	}
	
	#profile-section{
	padding: 0.5em;
	display: grid;
	grid-template-areas: 'sidebuttons information information information';
}
	
	
	
	.profile-names{
		font-size: 1.5rem;
		margin: 0 0 1rem;
	text-align: left;
	}
	
	.profile-names-input{
		margin: 0 0rem 1rem;
	}
	
	.boxes-section{
		border-left: 2px solid black;
		padding-left: 2rem;
	}
		
	.florist-box{
	min-height: 15rem;
	min-width: 5rem;
}


.dresses-box{
	min-height: 15rem;
	min-width: 5rem;
}


.rings-box{
	min-height: 15rem;
	min-width: 5rem;
}


.cakes-box{
	min-height: 15rem;
	min-width: 5rem;
}
	.guest-boxes-yes{
	width: 100%;
}

.guest-boxes-no{
	width: 100%;
}

.guest-boxes-pending{
	width: 100%;
}

#edit-all-guests{
	display: flex;
	justify-content: flex-start;
}
	
	#guest-list-border{
		border-left: 2px solid black;
		padding-left: 2rem;
		padding-top: 2rem;
	}
	
	
}
/* Tablet */

